

.button5 {
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

#kameleon {
  padding: 20px;
    margin-top: 200px;
    -webkit-animation: color-change 5s infinite;
    -moz-animation: color-change 5s infinite;
    -o-animation: color-change 5s infinite;
    -ms-animation: color-change 5s infinite;
    animation: color-change 5s infinite;
}

p {
  padding-left: 10px;
}

@-webkit-keyframes color-change {
    0% { color: green; }
    50% { color: teal; }
    100% { color: orange; }
}
@-moz-keyframes color-change {
  0% { color: green; }
  50% { color: teal; }
  100% { color: orange; }
}
@-ms-keyframes color-change {
  0% { color: green; }
  50% { color: teal; }
  100% { color: orange; }
}
@-o-keyframes color-change {
  0% { color: green; }
  50% { color: teal; }
  100% { color: orange; }
}
@keyframes color-change {
  0% { color: green; }
  50% { color: teal; }
  100% { color: orange; }
}
